@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["HeaderTitle"];
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow p-4 mx-auto mt-5" style="max-width: 320px;">
                <div>
                    <h3 class="mb-3 text-center">@Localizer["Title"]</h3>
                    <p class="text-muted">@Localizer["InsertPassword"]</p>
                </div>
                <form id="submitResetPasswordForm" asp-action="PwChange" method="post">
                    <div class="mb-3">
                        <label for="password" class="form-label">@Localizer["NewPasswordLabel"]</label>
                        <div class="input-group">
                            <input type="password" name="password" class="form-control" id="password" placeholder="@Localizer["NewPasswordPlaceholder"]" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">@Localizer["ConfirmPasswordLabel"]</label>
                        <div class="input-group">
                            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="@Localizer["ConfirmPasswordPlaceholder"]" required>
                        </div>
                    </div>
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="submit" value="@Localizer["ChangePassword"]" class="btn btn-primary mt-3"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
